*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  /* background-color: #333333; */
  background-color: #1c1c1c;

}
body::-webkit-scrollbar{
  /* width: 5px; */
  display: none;
}
#root{
  position: relative;
}
/* ===========================================*/
/*===============HEADER=======================*/
/* ===========================================*/

.header {
  position: sticky;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* border: 5px solid red;
  text-align: center;
  font-size: 32px;
  top: 0;*/
  /* background-color: #201537;  */
  background-color: #0b0716;
  z-index: 1;
}
.header_logo{
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rebeccapurple;
}
.header_logo ion-icon{
  font-size: 2.5rem;
  z-index: 10;
}
.header_search{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: pink; */
}

#search_input{
  font-size: 1.5rem;
  outline: none;
}
#search_button ion-icon{
  font-size: 1.6rem;
}
.header_icons{
  width: 20%;
  height: 100%;
  background-color: rgb(145, 62, 76);
}
/* ===========================================*/
/*===============MAIN=======================*/
/* ===========================================*/
#main {
  position: relative;
  background-color: #1c1c1c;
  /* text-align: center; */
}

a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.795);
}

.Landing {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
  width: 100%;
  height: 100%;
  position:relative;
  padding: 50px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: #1c1c1c; */
  gap: 120px;
  z-index: 1;
}

.video_enlace{
  display: none;
  
}
.miniature{
  height: 170px;
  width: 300px;
}

.video_home{
  position: relative;
  height: 170px;
  width: 300px;
  text-decoration: none;
}
.video_home:hover{
  transform: scale(1.3);
  transition: .5s;
}

.video_title{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* background-color: #333333; */
  padding: 0 10px;
}

.video_info{
  width: 100%;
  color: rgba(255, 255, 255, 0.795);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.icon_contain{
  /* width: 100%; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_channel{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_channel{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.795);
  margin-bottom: 3px;
}

.name_channel, .views_home{
  font-size: 0.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/* ===========================================*/
/*================VIDEO=======================*/
/* ===========================================*/
.videoRepro {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* flex-direction: column; */
  gap: 10px;
  /* padding: 50px 40px 0 30px; */
  padding-top: 50px;
  flex-wrap: wrap;
}
video {
  width: 100%;
  height: auto;
}


.video_container{
  position: relative;
  color: rgba(255, 255, 255, 0.808);
  width: 65%;
  height: 50%;
}

.video_container_desc{
  /* position: absolute; */
  width: 100%;
  height: 300px;
  /* outline: 1px solid red; */
  border-bottom: 1px solid gray;
}

.video_repro_titleContain{
  display: flex;
  height: 100px;
  width: 100%;
  /* outline: 1px solid red; */
  border-bottom: 1px solid gray;
}
.video_reproducido_desc{
  display: flex;
  height: 200px;
  width: 100%;
  /* outline: 1px solid red; */
}


.title_viewes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 50%;
  /* outline: 1px solid blue; */
}
.likes_div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 50%;
  /* outline: 1px solid blue; */
  gap: 25px;
}
.like, .deslike{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.likeButton{
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #452688;
}
.deslikeButton{
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #452688;
  margin-top: 5px;
}

.likeButton.active{
  color: white;
}
.deslikeButton.active{
  color: white;
}

.video_buttons{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 310px;
  z-index: 3;
}

.video_buttons.active{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 10px;
  z-index: 3;
}


.video_buttons button{
  font-size: 1.4rem;
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.control{
  width: 70%;
  /* appearance: none; */
  height: 5px;
  margin-bottom: 5px;
  /* background-color: rgb(71, 1, 151); */
  accent-color: rgb(71, 1, 151);
  background-color: white;
  /* box-shadow: inset 0 0 5px rgb(121, 39, 214); */
  cursor: pointer;
}


.icon_div{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60px;
  height: 100%;
  padding: 25px 0;
}
.icon{
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.info_div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 25px 0;
  width: 50%;
  height: 100%;
  /* outline: solid 1px violet; */
  gap: 10px;
}
/*****************************/

.vid{
  display: flex;
  gap: 3px;
  height: 100px;
}

.other_vids{
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title_contain{
  width: 200px;
  color: rgba(255, 255, 255, 0.774); 
}

.channel_name, .view{
  font-size: 0.8rem;
} */

.play_icon ion-icon{
  font-size: 2.3rem;
  color: white;
}

#play, #fullScreen , #forwardSeconds , #backwardSeconds , #volumen ion-icon{
  color: #32166e;
  font-size: 2rem;
}

.play_icon{
  position: absolute;
  display: none;
  right: 10%;
  bottom: 10%;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #32166e;
  border: solid 2px white;
  transform: translateY(8%);
  /* transition: all 1s; */
}
.play_icon.active{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 54px;
  /* transition: all 1s; */
  transform: translateY(-20%);
  animation: play .3s linear 1;
}

@keyframes play {
  0%{
    transform: translateY(8%);
    opacity: 0;
    height: 40px;
    width: 40px;
  }
  50%{
    opacity: 0.5;
    height: 44px;
    width: 44px;
  }
  100%{
    transform: translateY(-20%);
    height: 54px;
    width: 54px;
    opacity: 1;
  }
}
/* ===========================================*/
/*================NAVBAR=======================*/
/* ===========================================*/

/* .Navbar{
  position:fixed;
  height:100vh;
  top:0;
  left:-100%;
  width:20%;
  background-color:white;
  transition: linear .5s ;
}

.Navbar.active{
  left:0%;
}

.nav_logo{
  height:10%;
  width:100%;
  border-bottom:2px solid black;
}

.nav_links{
  height:90%;
  width:100%;
}
.menu_icon{
  width:50%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items: center;
}
.logo{
  width:50%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items: center;
}
.menu_icon ion-icon{
  font-size: 2rem;
}
 */


/* ===========================================*/
/*================AUDIO=======================*/
/* ===========================================*/

 .audioRepro{
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  height: 80px;
  outline: 1px solid yellow;
 }


@media (max-width: 987px){
  body{
    background-color: red;
  }
  .Landing{
    flex-wrap: wrap;
    gap: 10px;
  }
  .videoRepro{
    flex-direction: column;
  }
  .video_container{
    width: 100%;
  }
  .video_container_desc{
    width: 100%;
    height:500px;
    outline: 1px solid red;
  }
  .video_repro_titleContain{
    display: flex;
    height: 200px;
    width: 100%;
    outline: 1px solid red;
  }
  .video_reproducido_desc{
    display: flex;
    height: 300px;
    width: 100%;
    outline: 1px solid red;
  }
  .video_buttons{
    left: 0;
    bottom: 500px;
  }

  .title_viewes{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 50%;
    outline: 1px solid blue; */
    font-size: 1.6rem;
  }

  .like , .deslike{
    font-size: 1.5rem;
  }

  .likeButton , .deslikeButton{
    font-size: 2rem;
  }
  .icon{
    width: 64px;
    height: 64px;
  }

  .info_div{
    padding-left: 20px;
  }

  .info_div h4, h5{
    font-size: 1.6rem;
  }
  .subscribersChannel{
    font-size: 1.4rem;
  }

  .other_vids{
    width: 90%;
  }
  .vid{
    width: 100%;
    height: 170px;
    gap: 10px;
  }
  .enlace{
    width: 100%;
    height: 100%;
  }
  .title_contain{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5rem;
    gap: 10px;
  }
  .video_home{
    width: 70%;
    height: 80%;
  }
  .miniature{
    width: 100%;
    height: 100%;
  }
  .video_title{
    height: 100px;
    font-size: 1.5rem;
  }
  .name_channel{
    font-size: 1.7rem;
  }
  .views_home{
    font-size:1.5rem ;
  }
  .icon_channel{
    width: 54px;
    height: 54px;
  }
  
}
